# {{ ansible_managed }}

BLOCKING_ENABLED=true
DHCP_ACTIVE={{ riv_pihole_dhcp_active }}
DHCP_START={{ riv_pihole_dhcp_start }}
DHCP_END={{ riv_pihole_dhcp_end }}
DHCP_ROUTER={{ riv_pihole_dhcp_router }}
DHCP_LEASETIME={{ riv_pihole_dhcp_leasetime }}
PIHOLE_DOMAIN={{ riv_pihole_domain }}
DHCP_IPv6={{ riv_pihole_dhcp_ipv6 }}
DHCP_rapid_commit={{ riv_pihole_dhcp_rapid_commit }}
DNSMASQ_LISTENING={{ riv_pihole_dnsmasq_listening }}
PIHOLE_DNS_1={{ riv_pihole_dns_server1 }}
PIHOLE_DNS_2={{ riv_pihole_dns_server2 }}
WEBPASSWORD={{ riv_pihole_admin_password_encoded.stdout }}
QUERY_LOGGING={{ riv_pihole_query_logging }}
INSTALL_WEB_SERVER={{ riv_pihole_install_web_server }}
INSTALL_WEB_INTERFACE={{ riv_pihole_install_web_interface }}
LIGHTTPD_ENABLED={{ riv_pihole_lighttpd_enabled }}
IPV4_ADDRESS={{ riv_pihole_ipv4_address }}
IPV6_ADDRESS={{ riv_pihole_ipv6_address }}
DNS_BOGUS_PRIV={{ riv_pihole_dns_bogus_priv }}
DNS_FQDN_REQUIRED={{ riv_pihole_dns_fqdn_required }}
DNSSEC={{ riv_pihole_dnssec }}
REV_SERVER={{ riv_pihole_rev_server_enabled }}
REV_SERVER_CIDR={{ riv_pihole_rev_server_cidr }}
REV_SERVER_DOMAIN={{ riv_pihole_rev_server_domain }}
REV_SERVER_TARGET={{ riv_pihole_rev_server_target }}
CONDITIONAL_FORWARDING=
CONDITIONAL_FORWARDING_IP=
CONDITIONAL_FORWARDING_DOMAIN=
CONDITIONAL_FORWARDING_REVERSE=
PIHOLE_INTERFACE={{ riv_pihole_interface }}
